.mt-40 {
    margin-top: 40px;
}

.mt-5 {
    margin-top:5px;
}

.pl-0 {
    padding-left: 0px !important;
}

.p0 {
      padding: 0px;
}

.mb-0{
    margin-bottom: 0px;
}

.mr-10{
    margin-right: 10px;
}

.mr-15{
    margin-right: 15px;
}

.ml-10{
    margin-left: 10px;
}

.fs-22 {
    font-size: 24px;
}

.thead-primary {
    background-color:#337ab7;
    color: white;
} 

.sidebar {
    height: 100%;
    background-color: #eee;
}

.navbar-brand {
    width: 100%;
    left: 0;
    text-align: left;
    margin:0 auto;
    list-style: none;
    position:absolute;
}

hr.title {
    border: 2px solid;
    border-radius: 2px;
}

.panel-title {
    font-size: 18px;
    font-style: initial;
}

.m-middle {
    margin-top: 12%;
    margin-left: 10%;
    margin-bottom: auto;
}

.text-detail {
    font-size: 16px;
}

.scroll-table {
    overflow:scroll;
    height:60%;
}
  