{% extends 'base.html' %}
{% block header %}
<nav class="navbar navbar-inverse mb-0 nav-header">
    <a class="navbar-brand col-sm-3 col-md-2 ml-10" href="#">Mary's Software Inc.</a>
</nav>
{% endblock %}
{% block leftcontent %}
<div class="row">
    <nav class="col-sm-12 nav navbar-right">
        <ul class="nav">
            <li class="navbar-brand">
                <a class="nav-link" href="{% url 'cartas:indice' %}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Inicio <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" onclick="return abrir_modal('{% url 'cartas:leer_reporte' %}')">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    Agregar Reporte
                </a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="{% url 'cartas:pensionados_list' filtro='todos' %}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Pensionados
                </a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="{% url 'cartas:plazos_list' %}">
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                    Plazos
                </a>
            </li>
            <!-- <li class="navbar-brand">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    Archivos
                </a>
            </li> -->
        </ul>
    </nav>
</div>
{% endblock %}
{% block content %}
<main role="main" class="col-sm-12 ml-sm-auto col-lg-12">
    {% block principal %}
    <div class="jumbotron m-middle">
        <div class="container">
            <h1>¡Bienvenida María!</h1>
            <p>Si no sabes por dónde comenzar puedes empezar creando un registro nuevo dando clic en el botón 'Agregar
                reporte'.</p>
            <p>
                <a onclick="return abrir_modal('{% url 'cartas:leer_reporte' %}')"
                    class="btn btn-primary btn-lg">Agregar
                    reporte</a>
            </p>
        </div>
    </div>

    {% endblock %}
    <div id="popup" class="modal" role="dialog"></div>
</main>
{% endblock %}
{% block extrajs %}
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }
    $('[data-toggle="tooltip"]').tooltip();

    $("body").on('click', '#generar_archivos', function () {
        var id_pensionado = $(this).attr('id_pensionado');

        $.ajax({
            url: '/pensionado/generar-archivos/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'id_pensionado': id_pensionado
            },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                alert("Archivos generados correctamente.");
            },
            error: function (data) {
                if (data.responseJSON.message) {
                    alert(data.responseJSON.message);
                } else {
                    alert('Ocurrió un error al generar el sobre. Pregúntale a Orlando.');
                }
            }
        });
    });

    $("body").on('change', '#id_meses_plazo', function () {
        var plazo = $(this).val();
        obtenerMonto(plazo)
    });

    function obtenerMonto(plazo) {
        $.ajax({
            url: '/pensionado/buscar-monto/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'id_pensionado': '{{object.pk}}',
                'plazo': plazo
            },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $('#id_monto_solicitado').val(data.monto)
            },
            error: function (data) {
                if (data.responseJSON.message) {
                    alert(data.responseJSON.message);
                } else {
                    alert('Ocurrió un error al obtener el monto. Pregúntale a Orlando.');
                }
            }
        });
    }
</script>
{% endblock %}