{% extends 'cartas/indice.html' %}
{% block title %} Verificar datos pensionado {% endblock %}
{% block principal %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Verificar datos pensionado
            <button type="submit" class="btn btn-primary pull-right">Guardar pensionado</button>
    </h2>
    <hr class="title">
</div>
<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos pensionado</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="numero_social">Número social</label>
                    {{ pensionado.numero_social }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">Nombre</label>
                    {{ pensionado.nombre }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="edad">Edad</label>
                    {{ pensionado.edad }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="direccion">Dirección</label>
                    {{ pensionado.direccion }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="ciudad">Ciudad</label>
                    {{ pensionado.ciudad }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="estado">Estado</label>
                    {{ pensionado.estado }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos crédito</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="capacidad">Capacidad de crédito</label>
                    {{ credito_form.capacidad }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="liquido">Líquido</label>
                    {{ credito_form.liquido }}
                </div>
            </div>
        </div>
    </div>
    {% if deuda_form %}
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos deuda</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="empresa">Nombre empresa</label>
                    {{ deuda_form.empresa }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="cantidad_pagos">Cantidad pagos</label>
                    {{ deuda_form.cantidad_pagos }}
                </div>
                <div class="form-group col-sm-4">
                    <label for="cantidad">Cantidad</label>
                    {{ deuda_form.cantidad }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}