{% extends 'cartas/indice.html' %}
{% block title %} Detalle Pensionado {% endblock %}
{% block principal %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Detalle Pensionado
        <a href="{% url 'cartas:pensionado_actualizar' pk=pensionado.pk %}">
            <span class="btn btn-primary pull-right" aria-hidden="true">
                <span class="glyphicon glyphicon-edit"></span> Editar pensionado
            </span>
        </a>
        <a><span class=" btn btn-primary pull-right mr-15" id="generar_archivos"
            id_pensionado="{{ pensionado.pk }}" aria-hidden="true">
            <span class="glyphicon glyphicon-envelope"></span> Generar archivos</span>
        </a>
    </h2>
    <hr class="title">
</div>
<form>
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos pensionado</span> </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="numero_social">Número social:</label>
                    <p>{{ pensionado.numero_social }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">Nombre:</label>
                    <p>{{ pensionado.nombre }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="edad">Edad:</label>
                    <p>{{ pensionado.edad }}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="direccion">Dirección:</label>
                    <p>{{ pensionado.direccion }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="ciudad">Ciudad:</label>
                    <p>{{ pensionado.ciudad }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="estado">Estado:</label>
                    <p>{{ pensionado.estado }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos crédito</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="capacidad">Capacidad de crédito:</label>
                    <p>$ {{ credito.capacidad }}</p>
                </div>
                <div class="form-group col-sm-3">
                    <label for="liquido">Líquido:</label>
                    <p>$ {{ credito.liquido }}</p>
                </div>
                {% if plazo %}
                <div class="form-group col-sm-3">
                    <label for="plazo">Plazo:</label>
                    <p>{{ plazo.meses_plazo }} meses</p>
                </div>
                <div class="form-group col-sm-3">
                    <label for="monto">Monto préstamo:</label>
                    <p>$ {{ plazo.monto_solicitado }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if deuda %}
    <div class="panel panel-primary">
        <div class="panel-heading right-align clearfix"><span class="panel-title">Datos deuda</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="empresa">Nombre empresa:</label>
                    <p>{{ deuda.empresa }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="cantidad_pagos">Cantidad pagos:</label>
                    <p>{{ deuda.cantidad_pagos }}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label for="cantidad">Cantidad:</label>
                    <p>$ {{ deuda.cantidad }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}