{% extends 'cartas/indice.html' %}
{% block title %} Listado Plazos {% endblock %}
{% block principal %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>
        Listado de plazos activos
        <a onclick="return abrir_modal('{% url 'cartas:alta_plazos' %}')"
            class="btn btn-primary btn-lg pull-right "><span class="glyphicon glyphicon-save-file
            "></span> Dar de alta plazos</a>
    </h2>
    <hr class="title">
</div>

<div class="table-responsive scroll-table">
    <table class="table table-striped">
        <thead class="thead-primary">
            <tr>
                <th class="text-center">Monto a prestar</th>
                <th class="text-center">24 meses</th>
                <th class="text-center">36 meses</th>
                <th class="text-center">48 meses</th>
                <th class="text-center">60 meses</th>
            </tr>
        </thead>
        <tbody>
            {% if plazos %}
            {% for monto, plazos in plazos.items %}
            <tr class="text-center">
                <td>$ {{ monto }}</td>
                {% for plazo in plazos %}
                <td>$ {{ plazo.1}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% else %}
            <tr class="text-center">
                <td colspan="5">No hay plazos dados de alta.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}